{% extends "base.html" %}
{% load static %}

{% block title %}Tienda de Videojuegos - Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-body">Contacto</h1>
    <p class="text-body">Envia un correo a <a href="mailto:contacto@tiendavideojuegos.com"
            class="text-body">contacto@tiendavideojuegos.com</a></p>


    <div class="alert alert-primary">Estamos disponibles de lunes a viernes de 9:00 am a 18:00 pm</div>
    <div class="alert alert-warning">El tiempo de respuesta puede variar segun la demanda</div>
    <div class="alert alert-danger">No envies informacion sensible por este formulario</div>

</div>
{% endblock %}