{% extends "base.html" %}
{% load static %}

{% block title %}Tienda de Videojuegos - Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-body">Bienvenido a la tienda de Videojuegos</h1>
    <p class="text-body">Explora nuestro catalogo y disfruta de las mejores ofertas</p>

    <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid my-4">

    <div class="alert alert-primary">¡Nueva coleccion de videojuegos disponible esta semana!</div>
    <div class="alert alert-warning">Recuerda revisar las instrucciones de edad para algunos titulos</div>
    <div class="alert alert-danger">Algunos productos tienen stock limitado, !apresurate!</div>

</div>
{% endblock %}