{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lista_juegos.css' %}">
{% endblock %}

{% block title %}Listado de Videojuegos{% endblock %}

{% block content %}

<div class="container py-4">

    <h2 class="text-white mb-4 fw-bold text-body"><i class="bi bi-controller me-2"></i>Catálogo de
        videojuegos</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for juego in lista_juegos %}
        <div class="col">

            <a href="{% url 'catalogo:detalle_juego' juego.id %}" class="text-decoration-none">

                <div class="card game-card h-100 border-0">

                    <div class="img-container">
                        <img src="{% static 'img/portadas/' %}{{ juego.imagen }}" class="card-img-top"
                            alt="{{ juego.nombre }}">

                        <div class="overlay">
                            <button class="btn btn-primary">
                                <i class="bi bi-eye-fill"></i> Ver detalles
                            </button>
                        </div>
                    </div>

                    <div class="card-body">

                        <h5 class="card-title text-white">{{ juego.nombre }}</h5>

                        <p class="text-white small mb-2">
                            {{ juego.plataforma }}
                        </p>

                        <p class="precio fw-bold">
                            ${{ juego.precio }} COP
                        </p>

                    </div>

                </div>

            </a>

        </div>
        {% endfor %}

    </div>

    <!-- Paginación -->
    <nav class="mt-5">
        <ul class="pagination justify-content-center custom-pagination">

            {% if lista_juegos.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">«</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ lista_juegos.previous_page_number }}">‹</a>
            </li>
            {% endif %}

            {% for num in rango_paginas %}
            {% if lista_juegos.number == num %}
            <li class="page-item active">
                <span class="page-link">{{ num }}</span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if lista_juegos.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ lista_juegos.next_page_number }}">›</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ lista_juegos.paginator.num_pages }}">»</a>
            </li>
            {% endif %}

        </ul>
    </nav>

</div>

{% endblock %}