{% extends 'base.html' %}
{% load static %}

{% block title %}Listado de Videojuegos{% endblock %}

{% block content %}
<h2 class="text-body">Lista de juegos</h2>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    {% for juego in lista_juegos %}
    <div class="col">
        <a href="{% url 'catalogo:detalle_juego' juego.id %}" class="text-decoration-none text-dark">
            <div class="card h-100">
                <img src="{% static 'img/portadas/' %}{{ juego.imagen }}" class="card-img-top" alt="Imagen generica">
                <div class="card-body">
                    <h5 class="card-title">{{ juego.nombre }}</h5>
                    <p class="card-text">Plataforma: {{ juego.plataforma }}</p>
                    <p class="card-text">Precio: ${{ juego.precio }} COP</p>
                    <button class="btn btn-primary mt-auto"><i class="bi bi-info-circle-fill"></i>Ver detalles</button>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<!-- Paginacion -->
<nav aria-label="Paginacion" class="mt-4">
    <ul class="pagination justify-content-center">

        {# Botones anterior #}
        {% if lista_juegos.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">«</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ lista_juegos.previous_page_number }}">‹</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">«</span></li>
        <li class="page-item disabled"><span class="page-link">‹</span></li>
        {% endif %}

        {# Primera página #}
        {% if lista_juegos.number > 4 %}
        <li class="page-item">
            <a class="page-link" href="?page=1">1</a>
        </li>
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}

        {# Rango central #}
        {% for num in rango_paginas %}
        {% if lista_juegos.number == num %}
        <li class="page-item active">
            <span class="page-link">{{ num }}</span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {# Última página #}
        {% if lista_juegos.number < lista_juegos.paginator.num_pages|add:'-3' %} <li class="page-item disabled">
            <span class="page-link">...</span></li>
            <li class="page-item">
                <a class="page-link" href="?page={{ lista_juegos.paginator.num_pages }}">
                    {{ lista_juegos.paginator.num_pages }}
                </a>
            </li>
            {% endif %}

            {# Botones siguiente #}
            {% if lista_juegos.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ lista_juegos.next_page_number }}">›</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ lista_juegos.paginator.num_pages }}">»</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">›</span></li>
            <li class="page-item disabled"><span class="page-link">»</span></li>
            {% endif %}

    </ul>
</nav>



{% endblock %}