/* 
lista de juegos */

/* Fondo general tipo gaming */
body {
    background-color: #0f172a;
}

/* Card estilo tienda */
.game-card {
    background-color: #1e293b;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

/* Imagen */
.img-container {
    position: relative;
    overflow: hidden;
}

.img-container img {
    transition: transform 0.4s ease;
}

.game-card:hover img {
    transform: scale(1.1);
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.game-card:hover .overlay {
    opacity: 1;
}

/* Precio */
.precio {
    color: #22c55e;
    font-size: 1.2rem;
}

/* Paginación */
.custom-pagination .page-link {
    background-color: #1e293b;
    border: none;
    color: #cbd5f5;
}

.custom-pagination .page-item.active .page-link {
    background-color: #3b82f6;
    color: white;
}

.custom-pagination .page-link:hover {
    background-color: #334155;
    color: white;
}