/* ===============================
   HEADER
=================================*/

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


/* ===============================
   NAVBAR
=================================*/

.navbar {
    border-radius: 0.5rem;
}


/* ===============================
   LOGO
=================================*/

.navbar-brand img {
    width: 56px;
}

.navbar-brand span {
    font-size: 1.25rem;
}


/* ===============================
   BOTÓN CAMBIAR TEMA
=================================*/

.btn-theme-toggle {
    width: 45px;
    height: 45px;
}


/* ===============================
   MENÚ
=================================*/

.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
}

.navbar-nav .nav-link i {
    font-size: 1rem;
}


/* ===============================
   BUSCADOR
=================================*/

.navbar form input {
    min-width: 180px;
}


/* ===============================
   BOTONES DE ACCIONES
=================================*/

.navbar .btn i {
    font-size: 1.1rem;
}

/* ===============================
  FOOTER
=================================*/

.footer-gamer {
    background: #0f172a;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    color: #9ca3af;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #3b82f6;
    padding-left: 5px;
}

.footer-contact {
    color: #9ca3af;
    margin-bottom: 8px;
}

.footer-contact i {
    margin-right: 8px;
}

.social-icons {
    display: flex;
    gap: 12px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: #1e293b;
    border-radius: 50%;
    color: white;
    transition: 0.3s;
}

.social-icon:hover {
    background: #3b82f6;
    transform: translateY(-3px);
}

.footer-divider {
    border-color: #334155;
}